# Enforce pnpm usage
engine-strict=true
package-manager-strict=true

# pnpm configuration
auto-install-peers=true
dedupe-peer-dependents=false
strict-peer-dependencies=false
save-exact=false
shamefully-hoist=false
